# VS Code
.vscode/

# IntelliJ
.idea/

# Logs
*.log

# Environment files
.env

# React
oem-portal-frontend/node_modules/
oem-portal-frontend/dist/

# Spring Boot
target/

# OS files
.DS_Store
Thumbs.db